<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
    <% } %>

    <h2>Modify a Product</h2>
    <form action="/admin/modifyProduct" method="POST">
        
        <input type="hidden" name="productId" value="<%= product._id ? product._id.toString() : '' %>">

        <!-- Category Selection (Radio Buttons) -->
        <label>Category:</label><br>
        <% availableCategories.forEach(category => { %>
            <label>
                <input type="radio" name="category" value="<%= category %>" <%= product.category === category ? "checked" : "" %> required>
                <%= category %>
            </label><br>
        <% }) %><br>

        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= product.name %>" required><br><br>

        <label for="descr">Description:</label>
        <textarea name="descr"><%= product.description %></textarea><br><br>

        <!-- Size Selection (Radio Buttons) -->
        <label>Sizes:</label><br>
        <% availableSizes.forEach(size => { %>
            <label>
                <input type="radio" name="size" value="<%= size %>" <%= product.size === size ? "checked" : "" %> required>
                <%= size %>
            </label><br>
        <% }) %> <br>

        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" value="<%= product.price %>" required><br><br>

        <label for="stock">Stock:</label>
        <input type="number" name="stock" value="<%= product.stock %>" required><br><br>

        <button type="submit">Modify Product</button>
    </form>
</body>

</html>